In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import sklearn
import sklearn.model_selection
from sklearn import metrics, preprocessing
import pickle
import math
import tensorflow as tf
from os import path, getcwd, chdir

In [90]:
# Create dataframes from our csv files and set indeces

df = pd.read_csv('data/train.csv')
df.set_index('PassengerId', inplace=True)

testdf = pd.read_csv('data/test.csv')
PassengerId = testdf['PassengerId']
testdf.set_index('PassengerId', inplace=True)

data = [df, testdf]

In [91]:
# Preprocess the data by converting non numerical features into numerical categorical features 
# and applying mean imputation to deal with NaN values

for dataframe in data:
    le = preprocessing.LabelEncoder()
    dataframe["Sex"] = le.fit_transform(list(dataframe["Sex"]))
    dataframe["Cabin"] = le.fit_transform(list(dataframe["Cabin"]))
    dataframe["Embarked"] = le.fit_transform(list(dataframe["Embarked"]))
    dataframe.fillna(dataframe.mean(), inplace=True)
    
print(df.head)

<bound method NDFrame.head of              Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
...               ...     ...
887                 0       2
888                 1       1
889                 0       3
890                 1       1
891                 0       3

                                                          Name  Sex  \
PassengerId
1                                      Braund, Mr. Owen Harris    1
2            Cumings, Mrs. John Bradley (Florence Briggs Th...    0
3                                       Heikkinen, Miss. Laina    0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)    0
5                                     Allen, Mr. William Henry    1
...                                                        ...  ...
887                                      Montvila, Rev. Juozas    1
888                               Graham, Miss. Margaret Edith    0
889                   Johnston, Miss. Catherine Helen "Carrie"    0
890                                      Behr, Mr. Karl Howell    1
891                                        Dooley, Mr. Patrick    1

                   Age  SibSp  Parch            Ticket     Fare  Cabin  \
PassengerId
1            22.000000      1      0         A/5 21171   7.2500    147
2            38.000000      1      0          PC 17599  71.2833     81
3            26.000000      0      0  STON/O2. 3101282   7.9250    147
4            35.000000      1      0            113803  53.1000     55
5            35.000000      0      0            373450   8.0500    147
...                ...    ...    ...               ...      ...    ...
887          27.000000      0      0            211536  13.0000    147
888          19.000000      0      0            112053  30.0000     30
889          29.699118      1      2        W./C. 6607  23.4500    147
890          26.000000      0      0            111369  30.0000     60
891          32.000000      0      0            370376   7.7500    147

             Embarked
PassengerId
1                   2
2                   0
3                   2
4                   2
5                   2
...               ...
887                 2
888                 2
889                 2
890                 0
891                 1

[891 rows x 11 columns]>

In [92]:
# Create our input matrix, label vector, and test input matrix

X = df.drop(['Name', 'Survived', 'Ticket'], axis=1)
y = df['Survived']
X_test = testdf.drop(['Name', 'Ticket'], axis=1)
print(X.head)

<bound method NDFrame.head of              Pclass  Sex        Age  SibSp  Parch     Fare  Cabin  Embarked
PassengerId
1                 3    1  22.000000      1      0   7.2500    147         2
2                 1    0  38.000000      1      0  71.2833     81         0
3                 3    0  26.000000      0      0   7.9250    147         2
4                 1    0  35.000000      1      0  53.1000     55         2
5                 3    1  35.000000      0      0   8.0500    147         2
...             ...  ...        ...    ...    ...      ...    ...       ...
887               2    1  27.000000      0      0  13.0000    147         2
888               1    0  19.000000      0      0  30.0000     30         2
889               3    0  29.699118      1      2  23.4500    147         2
890               1    1  26.000000      0      0  30.0000     60         0
891               3    1  32.000000      0      0   7.7500    147         1

[891 rows x 8 columns]>

In [93]:
# Normalize the data

X=(X-X.mean())/X.std()
X_test=(X_test-X_test.mean())/X_test.std()

In [94]:
# Setup our data to be fed into our model

dataset = tf.data.Dataset.from_tensor_slices((X.values, y.values))

In [95]:
# Setup our model

model = tf.keras.models.Sequential([
    # Flatten out our input
    tf.keras.layers.Flatten(),
    
    # Setup our first layer
    tf.keras.layers.Dense(1024, activation=tf.nn.relu),
    
    # Setup output layer
    tf.keras.layers.Dense(2, activation=tf.nn.softmax)
])

# Compile our model
model.compile(optimizer='adam', 
              loss = 'sparse_categorical_crossentropy', 
             metrics=['accuracy'])

# Fit model
history = model.fit(
    train_dataset, 
    epochs=10
)

WARNING:tensorflow:Layer sequential_11 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

Epoch 1/10
891/891 [==============================] - 5s 5ms/step - loss: 0.4820 - accuracy: 0.7778
Epoch 2/10
891/891 [==============================] - 2s 2ms/step - loss: 0.4380 - accuracy: 0.8148
Epoch 3/10
891/891 [==============================] - 2s 2ms/step - loss: 0.4248 - accuracy: 0.8148
Epoch 4/10
891/891 [==============================] - 2s 2ms/step - loss: 0.4261 - accuracy: 0.8148
Epoch 5/10
891/891 [==============================] - 2s 2ms/step - loss: 0.4186 - accuracy: 0.8283
Epoch 6/10
891/891 [==============================] - 2s 2ms/step - loss: 0.4074 - accuracy: 0.8182
Epoch 7/10
891/891 [==============================] - 2s 2ms/step - loss: 0.4068 - accuracy: 0.8238
Epoch 8/10
891/891 [==============================] - 2s 2ms/step - loss: 0.4059 - accuracy: 0.8249
Epoch 9/10
891/891 [==============================] - 2s 2ms/step - loss: 0.3979 - accuracy: 0.8272
Epoch 10/10
891/891 [==============================] - 3s 4ms/step - loss: 0.3924 - accuracy: 0.8272

In [100]:
test_pred = model.predict(X_test.values) # Note that we need to feed our model the values or our dataframe X_test
predictions = np.c_[PassengerId, np.argmax(test_pred, axis=1)]
submission = pd.DataFrame(predictions, columns = ['PassengerId', 'Survived'])
print(submission.head)
submission.to_csv("submissions/NNSubmission.csv", index=False)

<bound method NDFrame.head of      PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]>